.work-sans{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}


/* Shared styles */
.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;

}
.display-flex{
    display: flex;
}
/* dark 02 */
.text-gray{
    color: #424242;
}
/* dark 03 */
.text-light-gray{
    color: #727272;
}
.bg-light{
    background-color: rgba(255, 144, 0, 0.1);
}
.text-primary{
    color: #FF900E;
}

/* navbar related styles */
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.navbar,.banner{
    max-width: 1440px;
    margin: 0 auto;
}
.brand{
    font-weight: 700;
    font-size: 2.8rem;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
main>section{
    margin-top: 130px;
}


/* Banner related style */
.banner-content{
    max-width: 860px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.banner-image{
    width: 100%;
}


.teams{
    align-items: center;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.out-features{
    margin-left: 130px;
    max-width: 530px;
}
.feature-title{
    font-size: 2.5rem;
    font-weight: 700;
}
#p1{
    font-weight: 500;
}

/* Some fact related style */
.fact-card{
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}
.fact-description{
    max-width: 540px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.section-title{
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}


/* Sponsor related info */
.sponsor-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}
.sponsor-company{
    display: grid;
    grid-template-columns: repeat(5 ,1fr);
}
.sponsor-company img{
    filter: grayscale(100%);
}

/* feature section related style */
#feature-section-title{
    border-left: 5px solid #FF900E;
    padding-left: 21px;
}
.feature-card .feature-title{
    font-weight: 600;
    font-size: 1.25rem; 
    margin-top: 0;
    margin-bottom: 0;
}
.feature-card{
    padding: 30px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
    border-radius: 8px;
}
.features{
    gap: 100px;
}
#experience-badge{
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -100px;
    margin-top: -100px;
}
experience-year{
    font-size: 4rem;
    font-weight: 700;
}
.featured-arct img{
    width: 100%;
}
/* Responsive media query */
@media screen and (max-width:576px) {
    .navbar,.nav-links,.teams,.features{
        flex-direction: column;
    }
    .team-img-container,.facts-container,.sponsor-company{
        grid-template-columns: 1fr;
    }
    .facts-container,.sponsor-company{
        justify-items: center;
        gap: 24px;
    }
    .out-features{
        margin-left: 20px;
    }
    #experience-badge{
        margin-top: 20px;
        margin-left: 20px;
    }
    
}

@media screen and (min-width:576px) and (max-width:992px) {
    .teams,.features{
        flex-direction: column;
    }
     .out-features{
        margin-left: 50px;
    }
    .sponsor-company,.facts-container{
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        justify-items: center;
    }
    #experience-badge{
        margin-top: 20px;
        margin-left: 20px;
    }
    
}
