.work-sans{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}


/* Shared styles */
.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;

}
.display-flex{
    display: flex;
}
/* dark 02 */
.text-gray{
    color: #424242;
}
/* dark 03 */
.text-light-gray{
    color: #727272;
}
.bg-light{
    background-color: rgba(255, 144, 0, 0.1);
}
.text-primary{
    color: #FF900E;
}

/* navbar related styles */
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.navbar,.banner{
    max-width: 1440px;
    margin: 0 auto;
}
.brand{
    font-weight: 700;
    font-size: 2.8rem;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
main>section{
    margin-top: 130px;
}


/* Banner related style */
.banner-content{
    max-width: 860px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.banner-image{
    width: 100%;
}


.teams{
    align-items: center;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.out-features{
    margin-left: 130px;
    max-width: 530px;
}
.feature-title{
    font-size: 2.5rem;
    font-weight: 700;
}
#p1{
    font-weight: 500;
}

/* Some fact related style */
.fact-card{
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}
.fact-description{
    max-width: 540px;
}


/* Responsive media query */
@media screen and (max-width:576px) {
    .navbar,.nav-links,.teams{
        flex-direction: column;
    }
    .team-img-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .out-features{
        margin-left: 20px;
    }
}

@media screen and (min-width:576px) and (max-width:992px) {
    .teams{
        flex-direction: column;
    }
     .out-features{
        margin-left: 50px;
    }
    
}