.work-sans{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}
/* Shared styles */
.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;

}
.display-flex{
    display: flex;
}
/* dark 02 */
.text-gray{
    color: #424242;
}
/* dark 03 */
.text-light-gray{
    color: #727272;
}
.bg-light{
    background-color: rgba(255, 144, 0, 0.1);
}

/* navbar related styles */
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.navbar,.banner{
    max-width: 1440px;
    margin: 0 auto;
}
.brand{
    font-weight: 700;
    font-size: 2.8rem;
}

/* Banner related style */
.banner-content{
    max-width: 860px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.banner-image{
    width: 100%;
}


/* Responsive media query */
@media screen and (max-width:976px) {
    .navbar,.nav-links{
        flex-direction: column;
    }
}